* {
    padding: 0;
    margin: 0;
    color: aliceblue;
}

#NavBar {
    padding-top: 25px;
    padding-bottom: 2px;
   height: 60px;
   background-color: black;
}

button {
    background-color: aqua;
}

#logo {
    color: chocolate;
}

a {
    margin: 125px;
    text-decoration: none;
}