*{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    padding: 0;
}

.navbar {
    display: flex;
    position: fixed;
    width:100%;
    top: 0;
    height: 60px;
    background-color: #0f1111;
    color: white;
    position: fixed;
    align-items: center;
    justify-content: space-evenly;
}
#logo {
    position: relative;
    top: 10px;
    left: 10px;
    width: 110px;
    height: 35px;
}

.border1 {
    position: fixed;
    left: 10px;
    margin: 5px;
    width: 130px;
    height: 50px;
    /* border: 2px solid white; */
}

.border:hover {
    border: 2px solid white;
}

  /** Box 2 **/

.nav-address {
    padding: 4px 5px 5px 5px;
    width: 75px;
    height: 40px;
    position:fixed;
    top: 5px;
    left: 175px;
}


.nav-address:hover {
    border: 2px solid white;
}

.address1 {
    margin-left: 15px;
    color: #ccc;
    font-size: 0.85rem;
}

.address2 {
    margin-left: 3px;
    font-size: 1rem;
}

.add-icon {
    display: flex;
    align-items: center;
}

.nav-search {
    height: 40px;
    width: 750px;
    display: flex;
    position: fixed;
    top: 10px;
    left: 315px;
}


#select-option {
    background-color: #f3f3f3;
    border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    position: relative;
    border: none;
    width: 40;
    height: 40px;
}

.search-icon {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    position: relative;
    height: 40px;
    width: 50px;
    background-color: orange;
}

#search-logo {
    position: relative;
    color: black;
    transition: 3ms;
    top: 10px;
    left: 15px;
}

#search-logo:hover {
    scale: 1.5;
}

.search-input {
    width: 600px;
    font-size: 1rem;
    border: none;
}

.country {
    padding-left: 10px;
    display: flex;
    flex-direction: row;
    width: 95px;
    height: 50px;
    position: fixed;
    top: 5px;
    right: 400px;
}


#select-country {
    background-color: #0f1111;
    font-weight: bold;
    font-size: medium;
    color: #f3f3f3;
    position: relative;
    border: none;
}


#flag {
    position: relative;
    top: 8px;
    height: 35px;
    width: 35px;
    border: none;
}

.hello {
    padding: 10px 0 0 10px;
    height: 40px;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 7px;
    right: 260px;
    border: none;
} 

.sign-in {
    font-size: small;
}

#Account {
    border: none;
    font-weight: bold;
    background-color: #0f1111;
    color: #f3f3f3;
    position: relative;
    right: 4px;
}

#Lists {
    font-weight: bold;
    background-color: #0f1111;
    color: #f3f3f3;
}

.orders {
    padding-top: 8px;
    padding-left: 13px;
    height: 40px;
    width: 85px;
    border: none;
    position: fixed;
    top: 7px;
    right: 140px;
}


#P1 {
    font-size: small;
}

#P2 {
    font-size: medium;
    font-weight: bold;
}

.cart {
    padding: 5px;
    height: 37px;
    width: 100px;
    position: fixed;
    top: 5px;
    right: 10px; 
}


#column {
    display: flex
}

#zero {
    position: relative;
    left: 15px;
    font-size: large;
    font-weight: bolder;
    color: orangered;

}

#cart-logo {
    height: 30px;
    position: relative;
    left: 10px;
    bottom: 2px;

}

#added {
    position: relative;
    left: 17px;
    bottom: 5px;
    font-size: large;
    font-weight: bolder;
}

.panel {
    display: flex;
    align-items: center;
    position: fixed;
    color: white;
    font-size:  0.9rem;;
    top: 60px;
    height: 40px;
    width: 100%;
    background-color: #232f3e;
}

.panel-all {
    margin-left: 20px;
    margin-right: 5px;
}

.panel-option {
    margin-left: 20px;
    display: flex;
    flex-direction: row;
}

.panel-o {
    align-items: center;
    position: relative;
    top: 9px;
    height: 35px;
    margin-left: 10px;
    margin-right: 10px;
}